/* Container holds both left and right sections */
/*.container {
    display: flex;
    width: 100%; 
    height: 100vh; 
  }*/
  .container-fluid {
    display: flex;
    width: 100%;
    height: 100vh;
  }
  
  
  /* Left section flex container */
  .left-section {
    display: flex;
    width: 80%; /* Takes 80% of the width */
    height: 100%; /* Full height */
    position: relative; /* To position sidebar */
  }
  
  /* Map section */
  #map {
    flex: 1; /* Allow the map to take up remaining space */
    background-color: lightblue; /* Just a background color for the map */
    height: 100%; /* Leave space for sidebar */
    width: 50%;
  }
  
  /* Sidebar section */
  .sidebar {
    position: absolute;
    left: 0;
    z-index: 999;
    height: 100%;
    width: 50px;
    overflow: hidden;
    margin:0;
    display: flex;
    flex-direction: column;
    background: yellowgreen;
  }
  
  .sport-icon {
    padding: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  .sport-icon:hover {
    filter: drop-shadow(3px 2px 3px #230000b1);
  }
  
  .sport-icons {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
  }
  
  .sport-icon img {
    width: 20px;
    height: 20px;
  }
  
  /* Right section flex container */
  .right-section {
    width: 20%;  /* Takes up 20% of the width */
    height: 100%; /* Full height */
    background-color: #741515; /* Light gray background */
    box-sizing: border-box;
  }
  